<% include_stylesheet 'extensions/jobs/admin/jobs' %>

<div id="main">
  <div id="content">
    <h1>New Job</h1>      
    <% semantic_form_for([:admin,@job]) do |form| %>
      <%= render :partial => 'form', :locals => {:form => form} %><br/>
      <% form.buttons do %>
        <%= form.commit_button %>
      <% end %>
    <% end %>  
  </div>
</div>